*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
:root {
    --bg-color: #3C6255;
    --fg-color: #61876E;
    --light-green: #A6BB8D;
    --mild-green: #EAE7B1;
    --text-color: #285430;
    --text-hover: #379237;
    --card-color: #40513B;
}

html, body {
    font-size: 18pt;
    background: var(--bg-color);
    color: var(--fg-color);
}

#index-img{
    margin-top:10rem;
    background-image: url("../images/index_img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

#welcome-text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 5rem 6% 2% 1.5rem;
    color: var(--text-color);
    text-transform: uppercase;
}

#welcome-text {
    padding: 1rem 0.50rem;
    background-color: rgba(255,255,255, 0.7);
}

#welcome-text > p {
    margin:0.50rem 0;
}

#welcome-text button:hover {
}

#welcome-text > h2 {
    font-size: 3rem;
    font-weight: bold;
}

#welcome-text > p {
    font-size: 1.1rem;
}

body {
    height: auto;
    padding:10% 0;
}

/*Heading and logo*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    gap: 2em;
    font-size: 0.85rem;
    left:0;
    right:0;
    top:0;
   /* backdrop-filter: blur(0.20rem);
    box-shadow: 0 0 50px rgba(0,0,0.7,0);*/
}

a{
    text-decoration: none;
}

#main-navigation{
    padding: 0 24px;
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    z-index: auto;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

menu {
    letter-spacing: 0.10rem;
}

menu > li {
    display: inline-block;
}

menu > li a {
    color: var(--text-color);
    position: relative;
    font-size: 0.7rem;
    text-decoration: none;
}

.btn-general-style{
    width: 160px;
    height: auto;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.40rem;
    text-transform: uppercase;
}

.btn-general-style:hover{
    background: #fff;
    color: var(--text-hover);
    transition: .5s;
}

#logo {
    margin:0.7em 0;
    font-size: 1.2rem;
    font-weight: bold;
}

#main-navigation a {
    padding: 1rem 0.5rem;
}

.card-img-top{
    border-radius: 1rem;
}

/*LOGING STYLE FORM*/
.card {
    width: 90%;
    max-width: 400px;
    padding: 1.2rem;
    border-radius: 1rem;
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
}

.comment-area {
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(0.10rem);
    box-shadow: 0 0 55px rgba(0,0,0,0.6);
    background-color: var(--bg-color);
}

 .row:first-child{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .svg-scaling {
     width: 50px;
     height: 50px;
 }

/*FOOTER SECTION GENERAL STYLE*/
footer {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.social-networks ul {
    list-style: none;
}

.social-networks li {
    display: inline-block;
}

.social-networks a {
    display: inline-block;
}

.social-networks i {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 2rem;
    color: var(--text-color);
}

footer p {
    color:var(--text-color);
    font-size: 0.9rem;
}

.btn-icon-style {
    background: transparent;
    border:none;
    margin: 0;
    padding: 0;
}


/* Responsive NavMenu*/

@media(min-width: 320px){

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background: var(--light-green);
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}