{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="mt-5">
            <h1>{% trans "Change Password" %}</h1>
        </div>
        <form method="POST" class="password_change p-5">
            {% csrf_token %}
            {{ form.as_p }}

            <ul style="text-align: left; margin: 2rem 0;">
                <li>You Password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
            <button class="btn-custom" name="action">{% trans "Change Password" %}</button>
        </form>
        <div>
            <a href="{% url 'blog_home' %}">Go Back to the Blog!</a>
        </div>
    {% else %}

        <div class="mt-5">
        <h1>Sorry, this page is not available!</h1>
        </div>
         <div class="mt-5">
            <a href="{% url 'blog_home' %}">Go Back to the Blog!</a>
        </div>
    {% endif %}
{% endblock %}
