{% extends "account/base.html" %}
{{ foobar | safe }}
{%block title %}Create a New Profile Page! {% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <div class="container text-center">
        <div class="row">
            <h1>Create Profile Page...</h1>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button>Create Profile Page</button>
            </form>
        </div>
    </div>

{% else %}
    Ops! You are not allowed here...
{% endif %}
{%endblock%}