{% extends "account/base.html" %}
{{ foobar | safe }}
{%block title %}Edit Profile Page {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {%  if user.id == profile.user.id%}
        <div class="container text-center">
            <div class="row">
                <h1 class="mt-5 mb-4">Edit Profile Page...</h1>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn-custom mb-4">Update Profile Page</button>
                </form>
                <span class="mb-4">OR</span>
            <a href="{%url 'blog_home' %}">Go Back</a>
                </div>
        </div>
        {% endif %}
{% else %}
    Ops! You are not allowed here...
{% endif %}

{%endblock%}