{% extends "account/base.html" %}

{% load i18n %}


{% load crispy_forms_filters %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Section: Design Block for login form -->
  <section class="overflow-hidden background-login">
    <div class="container mt-5">
        <div class="row">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable fade show" id="msg"
             role="alert">

            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endfor %}
            <div class="col-md-6 flex-item">
                <div class="card-custom text-center mb-5">
                    <div class="card-body">
                        <form class="login" method="POST">
                          {% csrf_token %}
                          {{ form|crispy }}
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}
                          <div class="d-grid">
                                <button class="btn btn-primary" type="submit">
                                    {% trans "Sign In" %}
                                </button>
                          </div>
                            <div class="login-or border-top border-bottom my-3">
                                      {% trans 'OR' %}
                            </div>
                            <div>
                                <a href="{% url 'register' %}">Sign Up For Free!</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock %}
