{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password Updated" %}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="mt-5">
            <h1>Your Password Was Changed Successfully!</h1>
            <div class="mt-5">
                {% if user.is_authenticated %}
                    <a href="{% url 'blog_home' %}">Go Back to the Blog!</a>
                {% else %}
                    <a href="{% url 'home_page' %}">Go Back to the Home Page!</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="mt-5">
            <h1>Sorry, this page is not available!</h1>
            <div class="mt-5">
                <a href="{% url 'home_page' %}">Go Back to the Home Page!</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
