{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "User Profile..." %}{% endblock %}

{% block content %}
    <div class="text-center">
        <p>{{ page_user }}</p>
        <p>{{ page_user.user.first_name }}</p>
        <p>{{ page_user.user.last_name }}</p>
        <p>{{ user.profile.bio }}</p>
        {% if page_user.user.profile.profile_pic %}
            <img src="{{ page_user.user.profile.profile_pic.url }}" class="rounded-circle"
                 width="150" height="200"
                 alt="">
        {% else %}
            <img src="{% static 'images/default_profile_pic.png' %}" class=""
                 alt="">
        {% endif %}

        {% for platform, url in page_user.user.profile.get_social_media_urls %}
            <a href="{{ url }}">{{ platform }}</a>{% if not forloop.last %} |{% endif %}
        {% endfor %}

    </div>

{% endblock %}