{% extends "account/base.html" %}
{%block title %}View The Categories {% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <div class="container text-center">
        <div class="row">
           <h1>Blog Categories</h1>

      {% for item in cat_menu_list %}
          <menu>
              <li class="fw-bold">
                  <a  class="" href="{% url 'category' item|slugify %}">{{ item }}</a>
              </li>
          </menu>
      {% endfor %}
        </div>
    </div>
{% else %}
    Ops! You are not allowed here...
{% endif %}
{%endblock%}