{% extends 'account/base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <!-- Post title goes in these h1 tags -->
            <h1 class="post-title">{{ post.title }}</h1>
            <!-- Post author goes before the | the post's created date goes after -->
            <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>

            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top"
                        src="https://img.freepik.com/free-vector/flat-design-forest-landscape_23-2149162734.jpg?
                        w=740&t=st=1678126866~exp=1678127466~hmac=b522e2486782e3c95e918606392b6022bdc5ea7f0c1bbac6aad59f1900ce6f43">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-icon-style">
                                    <i class="fa-solid fa-heart fa-beat-fade" style="color: #731212;"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-icon-style">
                                    <i class="fa-regular fa-heart" style="color: #d71d1d;"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fa-thin fa-heart fa-bounce"></i></span>
                            {% endif %}
                        <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="fa-regular fa-comment" style="color: #043f4e;"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row comment-area">
        <div class="mb-4 mt-3 rounded">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="card-body mt-3">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em; width:500px; display: inline-block">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn-general-style">
                        Submit
                    </button>
                </form>
                {% endif %}
                {% endif %}
            </div>
    </div>
</div>

{% endblock content %}