{% extends 'account/base.html' %}
{% load crispy_forms_filters %}
{% load static %} {% block content %}
    {% load crispy_forms_tags %}
    <div class="container-fluid">
        <div class="col-md-offset-4 mt-3">
            <div class="row">
                <div class="card-custom mw-100">
                    {% if user.is_authenticated %}
                        <!-- Post title goes in these h1 tags -->
                        <h1 class="post-title">{{ post.title }}</h1>
                        <p class="card-text">Category: {{ post.category | safe }}</p>
                         {% if user.id == post.author.id %}
                             <div class="py-2">
                             <a href="{% url 'blog_home' %}">Go Back</a> |

                            <a href="{% url 'update_post' post.pk %}">Edit</a> |

                            <a href="{% url 'delete_post' post.pk %}">Delete</a>
                             </div>

                        {% endif %}

                        <div class="card-body">
                            <!-- The featured image URL goes in the src attribute -->
                            {% if "placeholder" in post.featured_image.url %}
                                <img class="img-fluid rounded-start card-img-top" alt="post image"
                                     src="https://img.freepik.com/free-vector/flat-design-forest-landscape_23-2149162734.jpg?
                                w=740&t=st=1678126866~exp=1678127466~hmac=b522e2486782e3c95e918606392b6022bdc5ea7f0c1bbac6aad59f1900ce6f43">
                            {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="feature image">
                            {% endif %}
                            <p class="card-text ">{{ post.body | safe }}</p>
                        </div>

                        <div class="row justify-content-around">
                            <div class="col-1">
                                {% with comments.count as total_comments %}
                                    <strong class="text-secondary">
                                        <i class="fa-regular fa-comment" style="color: #043f4e;"></i>
                                        {{ total_comments }}
                                    </strong>
                                {% endwith %}
                            </div>
                            <div class="col-1">
                                <strong>
                                    {% if user.is_authenticated %}
                                        <form class="d-inline" action="{% url 'post_like' post.pk %}"
                                              method="POST">
                                            {% csrf_token %}
                                            {% if liked %}
                                                <button type="submit" name="blogpost_id" value="{{ post.slug }}"
                                                        class="btn-icon-style">
                                                    <i class="fa-regular fa-heart"
                                                       style="color: #731212;"></i>
                                                </button>
                                            {% else %}
                                                <button type="submit" name="blogpost_id" value="{{ post.slug }}"
                                                        class="btn-icon-style">
                                                    <i class="fa-regular fa-heart" style="color: #d71d1d;"></i>
                                                </button>
                                            {% endif %}
                                        </form>
                                    {% else %}
                                        <span class="text-secondary"><i class="fa-thin fa-heart fa-bounce"></i></span>
                                    {% endif %}
                                    <span class="text-secondary">{{ post.number_of_likes }} </span>
                                </strong>
                            </div>
                        </div>

                        <aside class="d-inline-block border-0">
                            <div>
                                <!-- Post author goes before the | the post's created date goes after -->
                                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>

                                {% if post.author.profile.id %}
                                    <p class="small text-muted">
                                        <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile
                                            Page</a>
                                        {% else %}
                                    <p>User profile not created yet</p>
                                {% endif %}
                                {% for platform, url in post.author.profile.get_social_media_urls %}
                                   | <a href="{{ url }}">{{ platform }}</a>{% if not forloop.last %} |
                                {% endif %}
                                {% endfor %}
                                </p>
                                {% if post.author.profile.profile_pic.url %}
                                    <img src="{{ post.author.profile.profile_pic.url }}"
                                         class="profile-image"
                                         alt="profile image">
                                {% else %}
                                    <img src="{% static 'images/default_profile_pic.png' %}" class="w-25"
                                         alt="default profile image">
                                {% endif %}
                                {% if show_profile_page %}
                                    <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile
                                        Page</a>
                                {% endif %}

                                {% if post.author.profile.bio %}
                                    <p style="font-size: 12pt; margin-top:1rem">
                                        {{ post.author.profile.bio | slice:'300' }}...
                                    </p>

                                {% else %}
                                    <p>This user currently has no bio...</p>
                                {% endif %}
                            </div>
                        </aside>
                        <div class="container mt-5">
                            <div class="row comment-list">
                                <div class="mb-4 mt-3 rounded">
                                    <h3>Comments:</h3>
                                    <div class="card-body">
                                        {% if not post.comments.all %}
                                            <p>No Comments yet...</p>
                                            <a href="{% url 'add_comment' post.pk %}">Add One Now</a>
                                        {% else %}
                                            <div class="py-4">
                                            {% for comment in post.comments.all %}
                                                <div class="comment d-flex justify-center align-center p-2 "
                                                     style="padding: 10px; gap: 5rem;">
                                                    <div class="text-left w-25 comment-author">
                                                        {% if comment.user.profile.profile_pic.url %}
                                                            <img src="{{ comment.user.profile.profile_pic.url }}"
                                                                 class="profile-image"
                                                                 style="width: 50%"
                                                                 alt="profile image">
                                                        {% else %}
                                                            <img src="{% static 'images/default_profile_pic.png' %}"
                                                                 class="w-50"
                                                                 alt="default profile image">
                                                        {% endif %}
                                                        <p>Posted from: {{ comment.user.username }}</p>
                                                    </div>

                                                    <div class="w-75">
                                                        <span class="font-weight-bold">{{ comment.name }}</span> |
                                                        <span class=" text-muted font-weight-light text-justify">{{ comment.created_on }}</span>
                                                        <p>{{ comment.body | linebreaks }}</p>
                                                    </div>
                                                </div>
                                                <!-- Our for loop ends here -->
                                            {% endfor %}
                                            </div>

                                            <a class="btn-custom" href="{% url 'add_comment' post.pk %}">Add Comment</a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% else %}
                        Please Log In or Sign Up to see the content...
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}